{% extends "layout.html" %}
{% block body_content %}
    <h1>{{ title }}</h1>
    <p> Get the lowdown on <b>CrudQuiz</b></p>
    <br>
    <h2>This is CRUD functionality at its best, or is it crud?</h2>
    <br>
    <h3>A solo project working within the SFIA (Skills Framework for the Information Age</h3>
    <p><i>You can find this project on Github where<b>you</b> can fork it!</i></p>
    <br>
    <p>The idea behind my web app was to fulfill a project brief which requires CRUD functionality. As a result of the requirements, the idea to allow questions to be added by the end user makes for a unique twist. Please don't abuse it with profanities, as there are no age restrictions in place. Created during pandemic, coded with &lt;3 from Manchester</p>
{% endblock %}