{% extends "layout.html" %}
{% block body_content %}    <br>
    <h2>Add Questions</h2>
    <br>
    <p>Add your own <b>CrudQuiz</b> questions!</p>
    <h3>*Functionality will be added in the future, please come back soon!*</h3>
    <p><i>If you have any questions<b>you</b> can direct them at someone for now, it doesn't matter who.</i></p>
    <p>Sometimes I just write things for the sake of it, but at least I'm self-aware.</p>
    <p><i></i>My nickname is Dre, but I ain't no doctor! <br>Writing this text was like a forbidden fruit as it does not contribute towards an MVP (minimal viable product). I hope you enjoyed reading it as much as I enjoyed writing it</b></i></p>

{% endblock %}