{% extends "layout.html" %}
{% block body_content %}
    <h1>{{ title }}</h1>
    <br>
    <h2>Add a Question to apper in the Quiz</h2>
    <!-- Start of create functionality -->
    <br>
        <h3>Input a question with the max. length of 255 chars.</h3>
        <p><b>Please note:</b> currently only questions where the answer is a number are supported.</p>
        <div class='form'>
            <form method="POST" action=''>
                <p>
                    {{ form.quizquestion.label }}<br>
                    {{ form.quizquestion(size=100) }}
                </p>
                <p>
                    <button type="submit">Submit question</button>
                    <!-- form.submit() 
                    Line above with form.submit() commented out and
                    Jinja2 curly brackets removed for debugging purposes -->
                </p>
            </form>
        </div>

    </p>
    <h4>Thank you for only submitting non-offensive questions that are safe for work.</h4>
    <p><i>Enjoy the <b>quiz</b> and check back soon for updates</i></p>
    <br>
    <p><b>Stay safe!</b> - Dré</p>
    <p> <i>CrudQuiz</i> 2020</p>
{% endblock %}