{% extends "layout.html" %}
{% block body_content %}
    <h1>{{ title }}</h1>
    <p> Welcome to <b>The Quiz!</b></p>
    <h2>Begin CrudQuiz!</h2>
    <!-- Start questions -->
    <br>
        <h3>Q. What is 2+2?</h3>
        <div class='form'>
            <form method="POST" action=''>
                <input type="radio" name=q1 />2<br>
                <input type="radio" name=q1 />3<br>
                <input type="radio" name=q1 />4<br>
                <input type="radio" name=q1 />5<br>
            </form>
        </div>

    </p>
    <h4>Disclaimer! The questions could have been written by all kinds of sick entities</h3>
    <p><i>Enjoy the <b>quiz</b> and don't forget to check your answers and write some questions.</i></p>
    <br>
    <p><b>Stay safe!</b> - <i>CrudQuiz</i> 2020</p>
{% endblock %}